<div class="mt-4 p-5 content">
    <div class="content_block d-flex flex-column gap-5 align-items-center">
      <div class="content_block-text">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia
          voluptate nulla dicta sint corporis animi dolorum? Deserunt modi
          repudiandae, accusamus repellendus, illo, eaque facere accusantium
          blanditiis nemo at tempore!
        </p>
      </div>
      <div class="content_block-image">
        <svg
          id="Column Chart 1"
          width="100%"
          height="100%"
          viewBox="0 0 1000 500"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="po11"
            d="  M0,500  h66.66666666666667  v-374.2377068057993  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po21"
            d="  M83.33333333333333,500  h66.66666666666667  v-124.18341929261709  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po31"
            d="  M166.66666666666666,500  h66.66666666666667  v-241.30390507824495  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po41"
            d="  M250,500  h66.66666666666667  v-169.6240505642986  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po51"
            d="  M333.3333333333333,500  h66.66666666666667  v-306.373445924344  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po61"
            d="  M416.66666666666663,500  h66.66666666666667  v-260.4619243164975  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po71"
            d="  M500,500  h66.66666666666667  v-242.7504004591985  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po81"
            d="  M583.3333333333333,500  h66.66666666666667  v-241.83988197433592  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po91"
            d="  M666.6666666666666,500  h66.66666666666667  v-95.16828108868503  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po101"
            d="  M750,500  h66.66666666666667  v-294.9556406646727  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po111"
            d="  M833.3333333333333,500  h66.66666666666667  v-248.3089225695051  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po121"
            d="  M916.6666666666666,500  h66.66666666666667  v-280.4783641432936  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
        </svg>
      </div>
    </div>
    <div
      class="content_block d-flex flex-column-reverse gap-5 align-items-center"
    >
      <div class="content_block-text">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt
          iure assumenda reprehenderit et? Eaque ex accusantium nisi nulla aut
          animi harum ad deleniti, possimus numquam laborum, corporis consectetur.
        </p>
      </div>
      <div class="content_block-image">
        <svg
          id="Column Chart 2"
          width="100%"
          height="100%"
          viewBox="0 0 1000 500"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="po12"
            d="  M0,500  h66.66666666666667  v-301.37636488914677  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po22"
            d="  M83.33333333333333,500  h66.66666666666667  v-192.59522890073538  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po32"
            d="  M166.66666666666666,500  h66.66666666666667  v-189.22453492549585  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po42"
            d="  M250,500  h66.66666666666667  v-290.08247501316043  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po52"
            d="  M333.3333333333333,500  h66.66666666666667  v-399.41027490917736  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po62"
            d="  M416.66666666666663,500  h66.66666666666667  v-352.6216317157781  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po72"
            d="  M500,500  h66.66666666666667  v-178.13352150380013  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po82"
            d="  M583.3333333333333,500  h66.66666666666667  v-357.5871817402723  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po92"
            d="  M666.6666666666666,500  h66.66666666666667  v-177.73432952044004  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po102"
            d="  M750,500  h66.66666666666667  v-203.49535140823332  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po112"
            d="  M833.3333333333333,500  h66.66666666666667  v-111.67157932565794  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po122"
            d="  M916.6666666666666,500  h66.66666666666667  v-104.25353250893  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
        </svg>
      </div>
    </div>
    <div class="content_block d-flex flex-column gap-5 align-items-center">
      <div class="content_block-text">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt
          iure assumenda reprehenderit et? Eaque ex accusantium nisi nulla aut
          animi harum ad deleniti, possimus numquam laborum, corporis consectetur.
        </p>
      </div>
      <div class="content_block-image">
        <svg
          id="Column Chart 3"
          width="100%"
          height="100%"
          viewBox="0 0 1000 500"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="po13"
            d="  M0,500  h66.66666666666667  v-95.44121017804082  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po23"
            d="  M83.33333333333333,500  h66.66666666666667  v-368.67933358608377  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po33"
            d="  M166.66666666666666,500  h66.66666666666667  v-142.84789869533734  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po43"
            d="  M250,500  h66.66666666666667  v-217.3013152562354  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po53"
            d="  M333.3333333333333,500  h66.66666666666667  v-90.87417688762923  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po63"
            d="  M416.66666666666663,500  h66.66666666666667  v-296.474727765596  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po73"
            d="  M500,500  h66.66666666666667  v-139.0299956783059  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po83"
            d="  M583.3333333333333,500  h66.66666666666667  v-244.70194224760297  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po93"
            d="  M666.6666666666666,500  h66.66666666666667  v-317.3259423207491  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po103"
            d="  M750,500  h66.66666666666667  v-354.2890346438924  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po113"
            d="  M833.3333333333333,500  h66.66666666666667  v-390.21731923238644  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po123"
            d="  M916.6666666666666,500  h66.66666666666667  v-329.6442990881289  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
        </svg>
      </div>
    </div>
    <div
      class="content_block d-flex flex-column-reverse gap-5 align-items-center"
    >
      <div class="content_block-text">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt
          iure assumenda reprehenderit et? Eaque ex accusantium nisi nulla aut
          animi harum ad deleniti, possimus numquam laborum, corporis consectetur.
        </p>
      </div>
      <div class="content_block-image">
        <svg
          id="Column Chart 4"
          width="100%"
          height="100%"
          viewBox="0 0 1000 500"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="po14"
            d="  M0,500  h66.66666666666667  v-143.24840866021646  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po24"
            d="  M83.33333333333333,500  h66.66666666666667  v-422.56418706598765  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po34"
            d="  M166.66666666666666,500  h66.66666666666667  v-361.75261458275446  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po44"
            d="  M250,500  h66.66666666666667  v-316.61320923861354  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po54"
            d="  M333.3333333333333,500  h66.66666666666667  v-288.69081545125977  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po64"
            d="  M416.66666666666663,500  h66.66666666666667  v-387.40397474664036  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po74"
            d="  M500,500  h66.66666666666667  v-247.39397678839447  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po84"
            d="  M583.3333333333333,500  h66.66666666666667  v-293.5547052516365  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po94"
            d="  M666.6666666666666,500  h66.66666666666667  v-242.6639184671244  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po104"
            d="  M750,500  h66.66666666666667  v-423.2160108414106  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po114"
            d="  M833.3333333333333,500  h66.66666666666667  v-201.8871284702284  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
          <path
            id="po124"
            d="  M916.6666666666666,500  h66.66666666666667  v-407.44717671913304  q0,-20 -20,-20  h-26.66666666666667  q-20,0 -20,20  Z"
            fill="#8184c2"
          />
        </svg>
      </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
  <script>
    gsap.registerPlugin(ScrollTrigger);
    gsap.fromTo(
      "#po11",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1,
        delay: 0.3,
        scrollTrigger: "#po11",
      }
    );
    gsap.fromTo(
      "#po21",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.1,
        delay: 0.4,
        scrollTrigger: "#po21",
      }
    );
    gsap.fromTo(
      "#po31",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.2,
        delay: 1,
        scrollTrigger: "#po31",
      }
    );
    gsap.fromTo(
      "#po41",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.3,
        delay: 1.1,
        scrollTrigger: "#po41",
      }
    );
    gsap.fromTo(
      "#po51",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.4,
        delay: 1.3,
        scrollTrigger: "#po51",
      }
    );
    gsap.fromTo(
      "#po61",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.5,
        delay: 1.4,
        scrollTrigger: "#po61",
      }
    );
    gsap.fromTo(
      "#po71",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.5,
        delay: 1.4,
        scrollTrigger: "#po71",
      }
    );
    gsap.fromTo(
      "#po81",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.6,
        delay: 1.5,
        scrollTrigger: "#po81",
      }
    );
    gsap.fromTo(
      "#po91",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.7,
        delay: 1.6,
        scrollTrigger: "#po91",
      }
    );
    gsap.fromTo(
      "#po101",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.8,
        delay: 1.7,
        scrollTrigger: "#po101",
      }
    );
    gsap.fromTo(
      "#po111",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.9,
        delay: 1.8,
        scrollTrigger: "#po111",
      }
    );
  
    gsap.fromTo(
      "#po121",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 2,
        delay: 1.9,
        scrollTrigger: "#po121",
      }
    );
  </script>
  <script>
    gsap.registerPlugin(ScrollTrigger);
    gsap.fromTo(
      "#po12",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1,
        delay: 0.3,
        scrollTrigger: "#po12",
      }
    );
    gsap.fromTo(
      "#po22",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.1,
        delay: 0.4,
        scrollTrigger: "#po22",
      }
    );
    gsap.fromTo(
      "#po32",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.2,
        delay: 1,
        scrollTrigger: "#po32",
      }
    );
    gsap.fromTo(
      "#po42",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.3,
        delay: 1.1,
        scrollTrigger: "#po42",
      }
    );
    gsap.fromTo(
      "#po52",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.4,
        delay: 1.3,
        scrollTrigger: "#po52",
      }
    );
    gsap.fromTo(
      "#po62",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.5,
        delay: 1.4,
        scrollTrigger: "#po62",
      }
    );
    gsap.fromTo(
      "#po72",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.5,
        delay: 1.4,
        scrollTrigger: "#po72",
      }
    );
    gsap.fromTo(
      "#po82",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.6,
        delay: 1.5,
        scrollTrigger: "#po82",
      }
    );
    gsap.fromTo(
      "#po92",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.7,
        delay: 1.6,
        scrollTrigger: "#po92",
      }
    );
    gsap.fromTo(
      "#po102",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.8,
        delay: 1.7,
        scrollTrigger: "#po102",
      }
    );
    gsap.fromTo(
      "#po112",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.9,
        delay: 1.8,
        scrollTrigger: "#po112",
      }
    );
  
    gsap.fromTo(
      "#po122",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 2,
        delay: 1.9,
        scrollTrigger: "#po122",
      }
    );
  </script>
  <script>
    gsap.registerPlugin(ScrollTrigger);
    gsap.fromTo(
      "#po13",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1,
        delay: 0.3,
        scrollTrigger: "#po13",
      }
    );
    gsap.fromTo(
      "#po23",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.1,
        delay: 0.4,
        scrollTrigger: "#po23",
      }
    );
    gsap.fromTo(
      "#po33",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.2,
        delay: 1,
        scrollTrigger: "#po33",
      }
    );
    gsap.fromTo(
      "#po43",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.3,
        delay: 1.1,
        scrollTrigger: "#po43",
      }
    );
    gsap.fromTo(
      "#po53",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.4,
        delay: 1.3,
        scrollTrigger: "#po53",
      }
    );
    gsap.fromTo(
      "#po63",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.5,
        delay: 1.4,
        scrollTrigger: "#po63",
      }
    );
    gsap.fromTo(
      "#po73",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.5,
        delay: 1.4,
        scrollTrigger: "#po73",
      }
    );
    gsap.fromTo(
      "#po83",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.6,
        delay: 1.5,
        scrollTrigger: "#po83",
      }
    );
    gsap.fromTo(
      "#po93",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.7,
        delay: 1.6,
        scrollTrigger: "#po93",
      }
    );
    gsap.fromTo(
      "#po103",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.8,
        delay: 1.7,
        scrollTrigger: "#po103",
      }
    );
    gsap.fromTo(
      "#po113",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.9,
        delay: 1.8,
        scrollTrigger: "#po113",
      }
    );
  
    gsap.fromTo(
      "#po123",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 2,
        delay: 1.9,
        scrollTrigger: "#po123",
      }
    );
  </script>
  <script>
    gsap.registerPlugin(ScrollTrigger);
    gsap.fromTo(
      "#po14",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1,
        delay: 0.3,
        scrollTrigger: "#po14",
      }
    );
    gsap.fromTo(
      "#po24",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.1,
        delay: 0.4,
        scrollTrigger: "#po24",
      }
    );
    gsap.fromTo(
      "#po34",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.2,
        delay: 1,
        scrollTrigger: "#po34",
      }
    );
    gsap.fromTo(
      "#po44",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.3,
        delay: 1.1,
        scrollTrigger: "#po44",
      }
    );
    gsap.fromTo(
      "#po54",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.4,
        delay: 1.3,
        scrollTrigger: "#po54",
      }
    );
    gsap.fromTo(
      "#po64",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.5,
        delay: 1.4,
        scrollTrigger: "#po64",
      }
    );
    gsap.fromTo(
      "#po74",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.5,
        delay: 1.4,
        scrollTrigger: "#po74",
      }
    );
    gsap.fromTo(
      "#po84",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.6,
        delay: 1.5,
        scrollTrigger: "#po84",
      }
    );
    gsap.fromTo(
      "#po94",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.7,
        delay: 1.6,
        scrollTrigger: "#po94",
      }
    );
    gsap.fromTo(
      "#po104",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.8,
        delay: 1.7,
        scrollTrigger: "#po104",
      }
    );
    gsap.fromTo(
      "#po114",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 1.9,
        delay: 1.8,
        scrollTrigger: "#po114",
      }
    );
  
    gsap.fromTo(
      "#po124",
      { attr: { transform: "translate(0, 500)" } },
      {
        attr: { transform: "translate(0, 0)" },
        duration: 2,
        delay: 1.9,
        scrollTrigger: "#po124",
      }
    );
  </script>
